.ba-section-choose{
	background: url(../img/choose-bg.jpg) 50% no-repeat;
	background-size: cover;
	min-height: 100%;
	padding: 204px 0 132px;

	&__post{
		max-width: 540px;

		&-title{
			font-family: Aleo;
			font-weight: 400;
			line-height: 26px;
			margin: 0;
			margin-bottom: 62px;
		}

		&-subtitle{
			font-size: 16px;
			color: #e8e8e8;
			letter-spacing: 1.6px;
			font-family: Josefin Sans;
			font-weight: 400;
			line-height: 26px;

			padding-bottom: 48px;
		}

		&-button{
			padding: 24px 38px 23px;
			background-color: #5474fd;
			font-size: 16px;
			letter-spacing: 1.2px;
			font-family: Aleo;
			font-weight: 400;

			&:hover{
				background: #3c67b0;
			}
		}
	}	

	&__gallery{
		transform: translateY( -84px);
		max-width: 540px;

		&-first{
			margin-left: 65px;
		}

		&-second{
			margin-left: 190px;
		}
	}
}